 <nav class="navbar navbar-expand-lg navbar-success bg-dark">
  <a class="navbar-brand" href="/">Project Task</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devices">List Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="users/registration">Add new User</a>
      </li>
    </ul>
    
  </div>
</nav> 
 <router-outlet></router-outlet>
  
 
