<div class="container"> 
  <h1 class="my-4 text-center">Project Task
    <small>by Simon Norbert</small>
  </h1>
  <div class="row">
    <div class="col-lg-8 mb-4">
      <div class="card h-100 bg-danger">
        <div class="card-body">
          <h4 class="card-title">
            <a>Used technologies</a>
          </h4>
            <ul>
              <li><h6>ASP.NET Framework and WEB API with Entity Framework for backend</h6></li>
              <li><h6>Angular 8 for frontend</h6></li>
              <li><h6>Cors and HTTP requests for communication</h6></li>
              <li><h6>MS-SQL Server for database</h6></li>
              <li><h6>Bootstrap / Angular material / toastr  </h6></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 bg-primary">
        <div class="card-body">
          <h4 class="card-title">
            <a>Project Functionalities</a>
          </h4>
            <ul>
                <li><h6>List all devices</h6></li>
                <li><h6>Add new device</h6></li>
                <li><h6>Delete device </h6></li>
                <li><h6>Edit existing device</h6></li>
                <li><h6>Add new user to database</h6></li>
        
            </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mb-4">
        <div class="card h-100 bg-secondary">
            <div class="card-body">
                <h4 class="card-title">
                 <a>Further improvements</a>
                </h4>
                <ul>
                        <li><h6>Implementing login functionalities</h6></li>
                        <li><h6>Assigning devices to different users</h6></li>
                </ul>                
            </div>
        </div>
    </div>
  </div>